*{
    box-sizing: border-box;
}

body {
    background-color: #F1F1F1;
    font-family: 'Schoolbell', cursive;
    margin: 50px;
    padding: 0;
}

.container {
    margin: auto;
    width: 640px;
}

.info{
    font-size: 25px;
    margin-bottom: 25px;
    text-align: center;
}

.bigBox {
    background-color: white;
    border: 3px solid darkgray;
    cursor: copy;
    display: flex;
    flex-wrap: wrap;
    height: 322px;
    margin: auto;
    width: 606px;
}

.box {
    height: 4px;
    width: 4px;
}

#reload{
    background-color: white;
    border: 2px solid darkgray;
    border-radius: 10%;
    font-family: 'Schoolbell', cursive;
    height: 40px;
    margin: 20px 270px 0 270px;
    width: 100px;
}


